$bd-purple:        #202a52;
$bd-purple-bright: lighten(saturate($bd-purple, 5%), 15%) !default;
$bd-purple-light:  lighten(saturate($bd-purple, 5%), 45%) !default;
$bd-dark:          #2a2730 !default;
$bd-download:      #ffe484 !default;
$bd-info:          #5bc0de !default;
$bd-warning:       #f0ad4e !default;
$bd-danger:        #d9534f !default;

@import "bootstrap/bootstrap";
@import 'bootstrap-docs/docs';


// Make the subitems in the sidebar display always
// (by default they are only displayed when the parent
//  item is active)
.bd-sidenav {
  display: block;
}