---
layout: null
title: Philosophie
subtitle: Der Waldkindergarten ermöglicht den Kindern...
---

%ul.alt
  %li ...das Erleben der jahreszeitlichen Rhytmen und Naturerscheinungen
  %li ...das Wahrnehmen der heimischen Pflanzen und Tiere in ihren ursprünglichen Lebensräumen
  %li ...ihren Bewegungsdrang auszuleben
  %li ...eine ganzheitliche Entwicklung ohne Reizüberflutung und Lärm
  %li ...das Aufblühen der Phantasie und Kreativität durch das Spielen mit natürlichen Materialien
  %li ...selbstständige Handeln, Forschen und Entdecken
  %li ...ihr Immunsystem auf natürliche Weise zu stärken
