---
layout: null
name_of_file: 04_team
title: Das Team
subtitle: Wir sind...
---

%p ...ein multiprofessionelles Team aus KindergartenpädagogInnen, WildnistrainerInnen, Naturmentorin, Musiker, Tanzpädagogin und Bilderbuchautor. Wir legen Wert darauf, die Besonderheiten eines jeden Kindes zu berücksichtigen und seine Individualität zu wahren. Kompetenzen und Selbstverantwortung des Kindes werden in den Vordergrund gestellt.

%dl
  %dt Somi Adrienn
  %dd
    %p Kindergartenpädagogin (Leitung), Naturmentorin, #{link_to "Natur- und Wildnistrainerin", "http://www.nawisho.at/kursangebot/"}, Tanzpädagogin, Organisation, Kindergartengestaltung, Vereinsobfrau
  
  %dt Manuel Mädel
  %dd
    %p #{link_to "Natur- und Wildnistrainerin", "http://www.nawisho.at/kursangebot/"}, #{link_to "Friedensstifter", "http://www.nawisho.at/kurse/lehrgang-friedenstiften/"}, Musiker, Handwerker, Organisation
  
  %dt Alexandra Elleberger
  %dd
    %p Kindergartenpädagogin

  %dt Marianne Petschnig
  %dd
    %p Sonderkindergartenpädagogin