---
title: Der Waldkindergarten
---


/ Banner
%section#banner
	.content
		%header
			%h1
				Der Waldkindergarten in Viktring
			-# %p A free and fully responsive site template
		%p Das Wesen des Waldkindergartens ist der tägliche, intensive Aufenthalt in der Natur sowie die spielerische Auseinandersetzung mit der natürlichen Umgebung.
		%p Das Grundkonzept des Waldkindergartens entstand vor ca. 50 Jahren in Dänemark. Seit dem entstehen weltweit zahlreiche Einrichtungen. Studien belegen, dass die Bewegung im Freien bei jedem Wetter die Gesundheit und das Immunsystem der Kinder stärkt.
		%p Die Wertschätzung der Lebensgemeinschaft Wald und Naturverbundenheit stehen im Waldkindergarten Waldlicht im Mittelpunkt.
		%p Je nach Witterung stehen flexible Planen und ein beheizbarer Bauwagen als Raum zur Verfügung.
		%ul.actions
			%li
				%a.button.big{:href => "#"} PDF-Flyer ansehen
	%span.image.object
		%img{:alt => "", :src => "images/hero.jpg"}/

/ Section
%section
	.content
		%header.major
			%h2#philosophie
				Philosphie
			%p Der Waldkindergarten ermöglicht den Kindern...
		%ul.alt
			%li ...das Erleben der jahreszeitlichen Rhytmen und Naturerscheinungen
			%li ...das Wahrnehmen der heimischen Pflanzen und Tiere in ihren ursprünglichen Lebensräumen
			%li ...ihren Bewegungsdrang auszuleben
			%li ...eine ganzheitliche Entwicklung ohne Reizüberflutung und Lärm
			%li ...das Aufblühen der Phantasie und Kreativität durch das Spielen mit natürlichen Materialien
			%li ...selbstständige Handeln, Forschen und Entdecken
			%li ...ihr Immunsystem auf natürliche Weise zu stärken

/ Section
%section
	.content
		%header.major
			%h2#philosophie
				Tagesablauf
			%p Die Zeit im Waldkindergarten Waldlicht

		%h3 Zeitliche Übersicht
		.table-wrapper
			%table
				%tbody
					%tr
						%td 07:30 - 08:30
						%td Sammelzeit beim Bauwagen bis 08:15, freie Spielzeit
					%tr
						%td 08:30 - 10:00
						%td Morgenkreis und ab in den Wald, pädagogische Angebote
					%tr
						%td 10:00 - 10:30
						%td Jause
					%tr
						%td 10:30 - 12:00
						%td freie Spielzeit, pädagogische Angebote, Rückweg
					%tr
						%td 12:30 - 13:30
						%td fließende Abholzeit/Freispielzeit beim Bauwagen


			%h3 Eine Woche im Waldlicht

			%p Täglich wird bei uns Feuer gemacht. Besonders wichtig ist dieses am Montag und Freitag. An diesen Tagen verweilen wir in der Nähe der Feuerstelle.
			%p Dienstag, Mittwoch und Donnerstag erforschen und bespielen wir naheliegende Waldstücke und Wiesen.
			%p Am Mittwoch findet zusätzlich zu unseren Begegnungen ein "Ältestenkreis" statt. Hierfür kommen nach dem Morgenkreis unsere ältesten Kinder und ein Erwachsener zusammen (≈Schulvorbereitung).


			%h3 Angebote und Freispielzeit

			%p Die pädagogischen Angebote, wie z.B. Naturbeobachtung, Werken, angeleitetes Spiel, Bilderbuch, Spurenlesen, Sammeln, usw. finden in der Zeit zwischen Morgenkreis und Abschlusskreis statt.
			%p Die Bring- und Abholzeit gilt als "Freispielzeit", d.h. die Kinder finden selbst zu einem Spiel, die pädagogischen MitarbeiterInnen sind hauptsächlich Beobachter.


			%h3 Unsere Begegnungen im Kreis

			%p Im Morgenkreis werden alle begrüßt und wir besprechen gemeinsam den Tagesplan. Außerdem wird gesungen, getanzt und/oder erzählt.
			%p Der Abschlusskreis bietet den sensationellen Berichten des erlebten Vormittags Raum, hier verabschieden wir uns in den Nachmittag.

/ Section
%section
	.content
		%header.major
			%h2#team
				Das Team
			%p Wir sind...
		
		%p ....ein multiprofessionelles Team aus KindergartenpädagogInnen, WildnistrainerInnen, Naturmentorin, Musiker, Tanzpädagogin und Bilderbuchautor. Wir legen Wert darauf, die Besonderheiten eines jeden Kindes zu berücksichtigen und seine Individualität zu wahren. Kompetenzen und Selbstverantwortung des Kindes werden in den Vordergrund gestellt.

		%dl
			%dt Somi Adrienn
			%dd
				%p Kindergartenpädagogin (Leitung), Naturmentorin, #{link_to "Natur- und Wildnistrainerin", "http://www.nawisho.at/kursangebot/"}, Tanzpädagogin, Organisation, Kindergartengestaltung, Vereinsobfrau
			
			%dt Manuel Mädel
			%dd
				%p #{link_to "Natur- und Wildnistrainerin", "http://www.nawisho.at/kursangebot/"}, #{link_to "Friedensstifter", "http://www.nawisho.at/kurse/lehrgang-friedenstiften/"}, Musiker, Handwerker, Organisation
			
			%dt Alexandra Elleberger
			%dd
				%p Kindergartenpädagogin

			%dt Marianne Petschnig
			%dd
				%p Sonderkindergartenpädagogin

/ Section
%section
	.content
		%header.major
			%h2#galerie
				Galerie
			%p Das Natürlichste auf der Welt sind Kinder und Natur

		.row.gtr-200
			.col-6.col-12-medium
				%iframe{width: '100%', style: "min-height: 300px;", src: 'https://www.youtube.com/embed/zdtuZxV-K78', frameborder: 0, allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true}

			.col-6.col-12-medium
				%p Mit der Galerie und unserem  Waldlicht-Video erhalten Sie einen kleinen Einblick in den Alltag des Waldkindergartens.

				%p Wir sind zudem auf Facebook aktiv. Dort können Sie aktuelle Bilder und Videos einsehen.
				%p
					%a{href: 'http://facebook.com/waldlichtkinder'} facebook.com/waldlichtkinder

		.row
			.col-4.col-6-small
				%span.image.fit.gallery
					%a{href: 'images/img01.jpg', 'data-fancybox': 'gallery'}
						%img{src: 'https://ik.imagekit.io/lkos7oq9xa/tr:h-400/images/img01.jpg'}
			.col-4.col-6-small
				%span.image.fit.gallery
					%a{href: 'images/img02.jpg', 'data-fancybox': 'gallery'}
						%img{src: 'https://ik.imagekit.io/lkos7oq9xa/tr:h-400/images/img02.jpg'}
			.col-4.col-6-small
				%span.image.fit.gallery
					%a{href: 'images/img03.jpg', 'data-fancybox': 'gallery'}
						%img{src: 'https://ik.imagekit.io/lkos7oq9xa/tr:h-400/images/img03.jpg'}
			.col-4.col-6-small
				%span.image.fit.gallery
					%a{href: 'images/img04.jpg', 'data-fancybox': 'gallery'}
						%img{src: 'https://ik.imagekit.io/lkos7oq9xa/tr:h-400/images/img04.jpg'}
			.col-4.col-6-small
				%span.image.fit.gallery
					%a{href: 'images/img05.jpg', 'data-fancybox': 'gallery'}
						%img{src: 'https://ik.imagekit.io/lkos7oq9xa/tr:h-400/images/img05.jpg'}
			.col-4.col-6-small
				%span.image.fit.gallery
					%a{href: 'images/img06.jpg', 'data-fancybox': 'gallery'}
						%img{src: 'https://ik.imagekit.io/lkos7oq9xa/tr:h-400/images/img06.jpg'}
			.col-4.col-6-small
				%span.image.fit.gallery
					%a{href: 'images/img07.jpg', 'data-fancybox': 'gallery'}
						%img{src: 'https://ik.imagekit.io/lkos7oq9xa/tr:h-400/images/img07.jpg'}
			.col-4.col-6-small
				%span.image.fit.gallery
					%a{href: 'images/img08.jpg', 'data-fancybox': 'gallery'}
						%img{src: 'https://ik.imagekit.io/lkos7oq9xa/tr:h-400/images/img08.jpg'}
			.col-4.col-6-small
				%span.image.fit.gallery
					%a{href: 'images/img09.jpg', 'data-fancybox': 'gallery'}
						%img{src: 'https://ik.imagekit.io/lkos7oq9xa/tr:h-400/images/img09.jpg'}

