---
title: Der Waldkindergarten
---


/ Banner
%section#banner
	.content
		%header
			%h1
				Der Waldkindergarten in Viktring
			-# %p A free and fully responsive site template
		%p Das Wesen des Waldkindergartens ist der tägliche, intensive Aufenthalt in der Natur sowie die spielerische Auseinandersetzung mit der natürlichen Umgebung.
		%p Das Grundkonzept des Waldkindergartens entstand vor ca. 50 Jahren in Dänemark. Seit dem entstehen weltweit zahlreiche Einrichtungen. Studien belegen, dass die Bewegung im Freien bei jedem Wetter die Gesundheit und das Immunsystem der Kinder stärkt.
		%p Die Wertschätzung der Lebensgemeinschaft Wald und Naturverbundenheit stehen im Waldkindergarten Waldlicht im Mittelpunkt.
		%p Je nach Witterung stehen flexible Planen und ein beheizbarer Bauwagen als Raum zur Verfügung.
		%ul.actions
			%li
				%a.button.big{:href => "#"} PDF-Flyer ansehen
	%span.image.object
		%img{:alt => "", :src => "images/edafe6_b990a09214c448e9b124c308af01a271~mv2_d_3996_1476_s_2.png"}/

/ Section
%section
	.content
		%header.major
			%h2#philosophie
				Philosphie
			%p Der Waldkindergarten ermöglicht den Kindern...
		%ul.alt
			%li ...das Erleben der jahreszeitlichen Rhytmen und Naturerscheinungen
			%li ...das Wahrnehmen der heimischen Pflanzen und Tiere in ihren ursprünglichen Lebensräumen
			%li ...ihren Bewegungsdrang auszuleben
			%li ...eine ganzheitliche Entwicklung ohne Reizüberflutung und Lärm
			%li ...das Aufblühen der Phantasie und Kreativität durch das Spielen mit natürlichen Materialien
			%li ...selbstständige Handeln, Forschen und Entdecken
			%li ...ihr Immunsystem auf natürliche Weise zu stärken

/ Section
%section
	.content
		%header.major
			%h2#philosophie
				Tagesablauf
			%p Die Zeit im Waldkindergarten Waldlicht

		%h3 Zeitliche Übersicht
		.table-wrapper
			%table
				%tbody
					%tr
						%td 07:30 - 08:30
						%td Sammelzeit beim Bauwagen bis 08:15, freie Spielzeit
					%tr
						%td 08:30 - 10:00
						%td Morgenkreis und ab in den Wald, pädagogische Angebote
					%tr
						%td 10:00 - 10:30
						%td Jause
					%tr
						%td 10:30 - 12:00
						%td freie Spielzeit, pädagogische Angebote, Rückweg
					%tr
						%td 12:30 - 13:30
						%td fließende Abholzeit/Freispielzeit beim Bauwagen


			%h3 Eine Woche im Waldlicht

			%p Täglich wird bei uns Feuer gemacht. Besonders wichtig ist dieses am Montag und Freitag. An diesen Tagen verweilen wir in der Nähe der Feuerstelle.
			%p Dienstag, Mittwoch und Donnerstag erforschen und bespielen wir naheliegende Waldstücke und Wiesen.
			%p Am Mittwoch findet zusätzlich zu unseren Begegnungen ein "Ältestenkreis" statt. Hierfür kommen nach dem Morgenkreis unsere ältesten Kinder und ein Erwachsener zusammen (≈Schulvorbereitung).


			%h3 Angebote und Freispielzeit

			%p Die pädagogischen Angebote, wie z.B. Naturbeobachtung, Werken, angeleitetes Spiel, Bilderbuch, Spurenlesen, Sammeln, usw. finden in der Zeit zwischen Morgenkreis und Abschlusskreis statt.
			%p Die Bring- und Abholzeit gilt als "Freispielzeit", d.h. die Kinder finden selbst zu einem Spiel, die pädagogischen MitarbeiterInnen sind hauptsächlich Beobachter.


			%h3 Unsere Begegnungen im Kreis

			%p Im Morgenkreis werden alle begrüßt und wir besprechen gemeinsam den Tagesplan. Außerdem wird gesungen, getanzt und/oder erzählt.
			%p Der Abschlusskreis bietet den sensationellen Berichten des erlebten Vormittags Raum, hier verabschieden wir uns in den Nachmittag.


/ Section
%section
	%header.major
		%h2 Ipsum sed dolor
	.posts
		%article
			%a.image{:href => "#"}
				%img{:alt => "", :src => "images/pic01.jpg"}/
			%h3 Interdum aenean
			%p Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
			%ul.actions
				%li
					%a.button{:href => "#"} More
		%article
			%a.image{:href => "#"}
				%img{:alt => "", :src => "images/pic02.jpg"}/
			%h3 Nulla amet dolore
			%p Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
			%ul.actions
				%li
					%a.button{:href => "#"} More
